.btn {
  transition: 0.5s;
  padding: 8px 12px;
  border: none;

  border-radius: 4px;
  cursor: pointer;
}

.btnPrimary {
  background-color: #ff6347;
  color: white;
}

.btnPrimary:hover {
  background-color: #ff907c;
}
